body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #473f34;
    color: #CD8A39;
}

/*Contenedor de la imagen*/
.image-container {
    width: 60%;
    max-width: 60vw;
    aspect-ratio: 522 / 118;
    margin: 10% auto 0;
    border: 5px solid #49642f;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reloj {
    position: fixed;
    top: 30px;
    left: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #CD8A39;
    font-size: 24px;
    background-color: #473f34;
    padding: 5px;
    border-radius: 27px;
    border: 5px solid #595D2B;
    line-height: 1px;
    font-weight: bolder;
}

.fecha{
    position: fixed;
    top: 30px;
    right: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #CD8A39;
    font-size: 24px;
    background-color: #473f34;
    padding: 5px;
    border-radius:27px;
    border: 5px solid #595D2B;
    line-height: 1px;
    font-weight: bolder;


}

.image {
    width: 150%; /* Hace que la imagen sea más grande */
    object-fit: cover; /* Evita deformaciones */
    object-position: 50% 40%; /* Ajusta la posición para centrar los ojos */
}

.entrada {
    width: 50%;
    padding: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #060d08;
    border: 3px solid #49642f;
    border-radius: 15px;
    color: #CD8A39;
    font-size: 16px;
    outline: none;
}

.entrada:focus{
    border-color: #595D2B;
}

.banner-container img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

input, button {
    padding: 10px;
    margin: 5px;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    background: #f3f3f3;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
